exportClasses(DEXUSResult)
export(conditionSizes)
export(dexss)
export(dexus)
export(dexus.parallel)
export(dispersions)
export(getSizeNB)
export(INICalls)
export("INIThreshold<-")
export(INIThreshold)
export(INIValues)
export(inputData)
export(logFC)
export(means)
exportMethods("[")
exportMethods(as.data.frame)
exportMethods(INI)
exportMethods(plot)
exportMethods(show)
exportMethods(sort)
export(normalizeData)
export(normalizedData)
export(params)
export(posteriorProbs)
export(pvals)
export(responsibilities)
export(sampleNames)
export(sizeFactors)
export(sizeParameters)
export(transcriptNames)
importFrom(graphics,plot)
importFrom(methods,show)
useDynLib(dexus)
